{% extends "home.html" %}
{% block content %}
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<h3>Edit Resume Form</h3>

<div>
  <form action="{% url 'updatepage' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <div>
    {% for i in resume %}
      
    <h1>Personal Information</h1>
    <label for="fname">Id</label>
    <input type="text" id="fname" name="id" value="{{i.id}}" placeholder="Your ID" readonly>

    <label for="fname">Full Name</label>
    <input type="text" id="fname" name="firstname" value="{{i.FullName}}" placeholder="Your name..">

    <label for="lname">Address</label>
    <input type="text" id="lname" name="address" value="{{i.Address}}" placeholder="Your address..">
    
    <label for="lname">Phone Number</label>
    <input type="text" id="lname" name="phone" value="{{i.PhoneNumber}}" placeholder="Your phone number..">

    <label for="lname">Email Address</label>
    <input type="text" id="lname" name="email" value="{{i.EmailAddress}}" placeholder="Your email address..">
    
    <label for="lname">Career Objective</label>
    <input type="text" id="lname" name="career" value="{{i.CareerObjective}}" placeholder="Your career objective..">

    <label for="lname">Certifications</label>
    <input type="text" id="lname" name="certificate" value="{{i.Certifications}}" placeholder="Your certifications..">

    <label for="lname">Projects</label>
    <input type="text" id="lname" name="project" value="{{i.Projects}}" placeholder="Your projects..">

    <label for="lname">References</label>
    <input type="text" id="lname" name="reference" value="{{i.References}}" placeholder="Your references..">

    <label for="lname">Profile Picture</label>
    <br>
    <img src="/{{i.Profilepicture}}" alt="" width="80px" height="80px">
    <br>
    <input type="file" id="lname" name="profilepicture">
   
    
    <h1>Education History</h1>
    <label for="lname">Degree</label>
    <input type="text" id="lname" name="degree" value="{{i.Degree}}" placeholder="Your degree..">

    <label for="lname">Institution</label>
    <input type="text" id="lname" name="institute" value="{{i.Institution}}" placeholder="Your institution..">

    <label for="lname">Graduation Year</label>
    <input type="text" id="lname" name="graduation" value="{{i.Graduationyear}}" placeholder="Your graduation year..">
  
    <h1>Work Experience</h1>
    <label for="lname">Company</label>
    <input type="text" id="lname" name="company" value="{{i.Company}}" placeholder="Your company..">

    <label for="lname">Position</label>
    <input type="text" id="lname" name="position" value="{{i.Position}}" placeholder="Your position..">

    <label for="lname">Start Date</label>
    <input type="date" id="lname" name="start" value="{{i.StartDate}}" placeholder="Start date..">

    <label for="lname">End Date</label>
    <input type="date" id="lname" name="end" value="{{i.EndDate}}" placeholder="End date..">
   
    <h1>Skills</h1>
    <label for="lname">Soft Skills</label>
    <input type="text" id="lname" name="soft" value="{{i.SoftSkills}}" placeholder="Your soft skills..">

    <label for="lname">Hard Skills</label>
    <input type="text" id="lname" name="hard" value="{{i.HardSkills}}" placeholder="Your hard skills..">
  
    {% endfor %}
  </div>
  <input type="submit" value="Update Resume">
  </form>
</div>

{% endblock content %}
