<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'studentpage' %}">Student Page</a></li>
    <li><a href="{% url 'addstudentpage' %}">Add Student Page</a></li>
    <li><a href="{% url 'teacherpage' %}">Teacher Page</a></li>
    <li><a href="{% url 'addteacherpage' %}">Add Teacher Page</a></li>
    <li><a href="{% url 'doctorpage' %}">Doctor Page</a></li>
    <li><a href="{% url 'adddoctorpage' %}">Add Doctor Page</a></li>
    
    <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>