{% extends "home.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Edit Teacher Form</h3>

{% for i in tct %}
  
<div>
    <form action="{% url 'updateteacher' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="fname">Teacher Id</label>
      <input type="text" id="fname" name="stid" value="{{i.id}}" placeholder="Your id.." readonly>
  
      <label for="fname">Teacher Name</label>
      <input type="text" id="fname" name="name" value="{{i.TeacherName}}" placeholder="Your name..">
  
      <label for="lname">Department</label>
      <input type="text" id="lname" name="department" value="{{i.TDepartment}}" placeholder="Your department name..">
  
      <label for="lname">City</label>
      <input type="text" id="lname" name="city" value="{{i.TCity}}" placeholder="Your city name..">
  
      <label for="lname">Teacher Image</label>
      <input type="file" id="lname" name="teacherimage" value="{{i.TCity}}" placeholder="Your city name..">
    
      <input type="submit" value="Update Teacher">
    </form>
  </div>
{% endfor %}

</body>
</html>


 
{% endblock content %}