<ul>
    <li><a href="{% url 'dashboard' %}">Home</a></li>

    
    {% if user.usertype == 'chef' %}
      
    <li><a href="{% url 'addrecipe' %}">Add Recipe</a></li>

    <li><a href="{% url 'recipelist' %}">Recipe List</a></li>

    {% elif user.usertype == 'viewer' %}

    <li><a href="{% url 'viewrecipe' %}">View Recipe</a></li>
    {% endif %}

    <li style="float:right"><a class="active" href="{% url 'Logoutpage' %}">Logout</a></li>
    <li style="float:right"><a  href="{% url 'profile' %}">Profile</a></li>
  </ul>