{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Card</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: auto;
      display: block;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">  
        <h5 class="card-title">Profile</h5>
        <ul class="list-group list-group-flush">
          
          {% if myUser.usertype.user == 'chef' %}


          <li class="list-group-item"><strong>Favourite:</strong>{{viewer.Favourite}}</li>
            
          {% endif %}

          <li class="list-group-item"><strong>Profile Picture</strong> <img src="/{{i.Profile_Picture}}" alt="" height="80px" width="80px"></li>
          <li class="list-group-item"><strong>Favourite:</strong>{{user.experience}}</li>
          <li class="list-group-item"><strong>Favourite:</strong>{{user.skills}}</li>
          <li class="list-group-item"><strong>Favourite:</strong>{{user.resume}}</li>
          <li class="list-group-item"><strong>Username:</strong>{{user.username}}</li>
          <li class="list-group-item"><strong>Email:</strong>{{user.email}}</li>
          <li class="list-group-item"><strong>Gender:</strong>{{user.gender}}</li>
          <li class="list-group-item"><strong>Age:</strong>{{user.age}}</li>
          <li class="list-group-item"><strong>City:</strong>{{user.city}}</li>
          <li class="list-group-item"><strong>Country:</strong>{{user.country}}</li>
          <li class="list-group-item"><strong>User Type:</strong>{{user.usertype}}</li>
      
          
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

    
{% endblock content %}
    