{% extends "home.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Resume Table</h1>

<table id="customers">
  <tr>
    <th>Full Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Profile Picture</th>
    <th>Action</th>
    
  </tr>
  {% for i in resume %}
    
  <tr>
    <td>{{i.FullName}}</td>
    <td><img src="/{{i.Profilepicture}}" alt="" width="80px" height="80px"></td>
    <td>{{i.Address}}</td>
    <td>{{i.EmailAddress}}</td>
    <td>
      <a href="{% url 'deletepage' i.id %}">Delete</a>
      <a href="{% url 'editpage' i.id %}">Edit</a>
      <a href="{% url 'viewpage' i.id %}">View</a>
      
    </td>

  </tr>
  {% endfor %}
</table>

</body>
</html>



{% endblock content %}