{% extends "home.html" %}
{% block content %}
  
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>A Student Table</h1>

<table id="customers">
  <tr>
    <th>Student Name</th>
    <th>Department</th>
    <th>City</th>
    <th>Picture</th>
    <th>Action</th>
  </tr>
  {% for i in student %}
    
  <tr>
    <td>{{i.StudentName}}</td>
    <td>{{i.Department}}</td>
    <td>{{i.City}}</td>
    <td>
      <img src="/{{i.StudentImage}}" alt="" height="100px" width="100px">
    </td>
    <td>
      <a href="{% url 'studentdelete' i.id %}">Delete</a>
      <a href="{% url 'studentedit' i.id %}">Edit</a>
      <a href="{% url 'studentview' i.id %}">View</a>
    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>



{% endblock content %}