<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<div>
  <form action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <label for="lname">User Name</label>
    <input type="text" id="lname" name="uname" placeholder="Your user name..">
    <label for="lname">Password</label>
    <input type="text" id="lname" name="password" placeholder="Your password..">
    <input type="submit" value="Submit">
    <a href="{% url 'signup' %}">Don't have an account? Create account</a>
  </form>
</div>

</body>
</html>


