{% load static %}
    <!-- Resume Section -->
    <section id="resume" class="resume section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Resume</h2>
          <p>{{resume.Resume}}</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Sumary</h3>
  
              <div class="resume-item pb-0">
                <h4>{{resume.Name}}</h4>
                <p><em>{{resume.Resume}}</em></p>
                <ul>
                  <li>{{resume.Address}}</li>
                  <li>{{resume.Mobile}}</li>
                  <li>{{resume.Email}}</li>
                </ul>
              </div><!-- Edn Resume Item -->
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                
                {% for i in resumeedu %}
                  
                <h4>{{i.EducationName}}</h4>
                <h5>{{i.EducationYear}}</h5>
                <p><em>{{i.EducationInstitute}}</em></p>
                <p>{{i.EducationDetails}}</p>
                {% endfor %}
              </div><!-- Edn Resume Item -->
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                
                {% for i in resumepro %}

                <h4>{{i.ProfessionName}}</h4>
                <h5>{{i.ProfessionalYear}}</h5>
                <p><em>{{i.ProfessionalLocation}}</em></p>
                <ul>
                  <li>{{i.ProfessionalResponsibilities}}</li>
                 </ul>
                {% endfor %}
              </div><!-- Edn Resume Item -->
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Resume Section -->