{% load static %}
<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>{{service.Services}}</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        
        {% for i in servicesect %}
          
        
          

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="bi {{i.Icon}}"></i></div>
          <div>
            <h4 class="title"><a href="service-details.html" class="stretched-link">{{i.ServiceName}}</a></h4>
            <p class="description">{{i.ServiceDetails}}</p>
          </div>
        </div>
        <!-- End Service Item -->

        {% endfor %}

      </div>

    </div>

  </section><!-- /Services Section -->
