{% load static %}
<!-- Skills Section -->
<section id="skills" class="skills section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Skills</h2>
      <p>{{skills.Skills}}</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row skills-content skills-animation">
        {% for i in skillmat %}
        <div class="col-lg-6">
          
          <div class="progress">
            <span class="skill"><span>{{i.SkillName}}</span> <i class="val">{{i.SkillProgress}}</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{i.SkillProgress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div><!-- End Skills Item -->

        </div>
        {% endfor %}

      </div>

    </div>

  </section><!-- /Skills Section -->