{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Recipe Table</h1>

<table id="customers">
  <tr>
    <th>Recipe Title</th>
    <th>Ingredients</th>
    <th>Nutritional Information</th>
    <th>Image</th>
    <th>Action</th>
  </tr>

  
  {% for i in recipee %}

  <tr>
    <td>{{i.recipe_title}}</td>
    <td>{{i.ingredients}}</td>
    <td>{{i.nutritional_info}}</td>
    <td>
        <img src="/{{i.sample_image}}" alt="" height="100px" width="100px">
    </td>
    <td>
        <a href="{% url 'viewpage' i.id %}">View</a>
    </td>
    
  </tr>
  {% endfor %}
</table>

</body>
</html>



    
{% endblock content %}


    