{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Card</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    {% for i in recipee %}
  <div class="container">
    <div class="card">
        <img src="/{{i.sample_image}}" class="card-img-bottom" alt="Sample Recipe Image" width="100%">
      <div class="card-body">
        <h5 class="card-title">Recipe Title:  {{i.recipe_title}}</h5>
        <p class="card-text">Ingredients: {{i.ingredients}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Preparation Time: {{i.prep_time}}</li>
          <li class="list-group-item">Cooking Time: {{i.cooking_time}}</li>
          <li class="list-group-item">Total Time: {{i.total_time}}</li>
          <li class="list-group-item">Difficulty Level: {{i.difficulty_level}}</li>
          <li class="list-group-item">Nutritional Information: {{i.nutritional_info}}</li>
          <li class="list-group-item">Recipe Category: {{i.recipe_category}}</li>
          <li class="list-group-item">Tags: {{i.tags}}</li>
          <li class="list-group-item">Total Calories: {{i.total_calories}}</li> 
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>

    
{% endblock content %}


    