{% extends "home.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Edit Student Form</h3>

<div>
  <form action="{% url 'updatestudentpage' %}" method="POST">
    {% csrf_token %}
    {% for i in std %}
      

    <label for="id">ID</label>
    <input type="text" id="id" name="studentid" value="{{i.id}}" placeholder="Your id.." readonly>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" value="{{i.FirstName}}" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" value="{{i.LastName}}" placeholder="Your last name..">

    <label for="department">Department</label>
    <input type="text" id="department" name="department" value="{{i.Department}}" placeholder="Your department name..">

    <label for="country">Country</label>
    <select id="country" name="country" >
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="Bangladesh">Bangladesh</option>
    </select>
  
    <input type="submit" value="Edit Student">
    {% endfor %}
  </form>
</div>

</body>
</html>



{% endblock content %}